{
  "type": "token",
  "proxy_port":7890,
  "port": 3009,
  "claude_code": {
    "model": "gpt-5.4",
    "reasoning_effort": "high"
  },
  "configs": [
   {
    "access_token": "",
    "account_id": "",
    "description": "ChatGPT Codex 默认配置，获取：https://chatgpt.com/api/auth/session"
  }
  ]
}
